<%= form_for(post) do |f| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="one_third first field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field block clear">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<!--<form action="#" method="post">-->
<!--<div> class="one_third first">-->
<!--<label for="name">Name <span>*</span></label>-->
<!--<input type="text" name="name" id="name" value="" size="22" required>-->
<!--</div>-->
<!--<div class="one_third">-->
<!--<label for="email">Mail <span>*</span></label>-->
<!--<input type="email" name="email" id="email" value="" size="22" required>-->
<!--</div>-->
<!--<div class="one_third">-->
<!--<label for="url">Website</label>-->
<!--<input type="url" name="url" id="url" value="" size="22">-->
<!--</div>-->
<!--<div class="block clear">-->
<!--<label for="comment">Your Comment</label>-->
<!--<textarea name="comment" id="comment" cols="25" rows="10"></textarea>-->
<!--</div>-->
<!--<div>-->
<!--<input type="submit" name="submit" value="Submit Form">-->
&nbsp;
<!--<input type="reset" name="reset" value="Reset Form">-->
<!--</div>-->
<!--</form>-->